.features-boxed {
  color:#313437;
  background-color:#eef4f7;
  background-size:100%;
  background-repeat:no-repeat;  
}

.features-boxed p {
  color:#7d8285;
}

.features-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .features-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.features-boxed .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.features-boxed .intro p {
  margin-bottom:0;
}

.features-boxed .features {
  padding: 42px 0;
}

.features-boxed .item {
  text-align:center;
}

.features-boxed .item .box {
  text-align:left;
  padding:30px;
  background-color:#fff;
  margin-bottom:30px;
}

.features-boxed .item .icon {
  font-size:60px;
  color:#1485ee;
  margin-top:20px;
  margin-bottom:35px;
}

.features-boxed .item .name {
  font-weight:bold;
  font-size:18px;
  margin-bottom:8px;
  margin-top:0;
  color:inherit;
}

.features-boxed .item .description {
  font-size:15px;
}

.edit-button {
  position:absolute;
  margin-left:450px;
}

@media (max-width:767px) {
  .edit-button {
    margin-left:82px;
  }
  .features-boxed .item .name {
    font-size:16px;
  }
}


